**pycache**/
_.pyc
_.pyo
_.pyd
.Python
.env
.env.docker
.env.local
test.db
.pytest_cache/
.venv/
venv/
_.egg-info/
dist/
build/
.git
.gitignore
.dockerignore
Dockerfile
README.md
.vscode/
.idea/
_.log
_.tmp
